.Schedule {
        border: 1px solid white;
}

.Day {
        font-size: 2em;
        color: #66d9ef;
}

.Yellow {
        color: #f4bf75;
}

.Cyan {
        color: #a1efe4;
}

.Red {
        color: #f92672;
}

.Magenta {
        color: #ae81ff;
}

.Green {
        color: #a6e22e;
}

.White {
        color: #f8f8f2;
}

.White2 {
        color: #f9f8f5;
}


th,
td {
        padding: 1em;
}
