.App {
        text-align: center;
        background-color: #272822;
        color: #272822;
}


.App-header {
        background-color: #272822;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
}

.App-body {
        background-color: #272822;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
}

::-webkit-scrollbar {
        width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
        background: #272822;
}

/* Handle */
::-webkit-scrollbar-thumb {
        background: #66d9ef;
        border-radius: 3.5px;
}
