.App {
        background-color: #272822;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
}

::-webkit-scrollbar {
        width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
        background: #272822;
}

/* Handle */
::-webkit-scrollbar-thumb {
        background: #66d9ef;
        border-radius: 3.5px;
}

.Column {
        float: left;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 100px;
}

.Row {
        display: flex;
}

.Row:after {
        content: "";
        display: table;
        clear: both;
}
